<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <center>
        <div class="card" onclick="movieinfo.html">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <!--cards-->
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <a href="movieInfo.html">
                    <img src="3idiots.jpg" alt="">
                </a>
            </div>
            <div class="bottom">
                <div class="title">
                    <p>3 Idiots</p>
                </div>
                <!--year or season (description)-->
                <div class="desc">
                    <p>2009</p>
                </div>
            </div>
        </div>
    </center>

</body>

</html>